nav ul{
    display:flex;
    margin:0px auto;
    width:80%;
    text-align: center;
    
}
.top>nav>ul>li{
    display:inline;
    list-style-type: none;
    
}

.button{
    width:102.6px;
    height:32px;
    margin-top:60%;
  background-color: #676767;
  color: #f4f4f4;
  border-right:1 px solid  #6f6f6f;
  padding-top:10px;
  padding-bottom:10px;
  font:12px;
    
}