nav ul{
    display:flex;
    width:100%;
    text-align: center;
}

nav{
    display: block;
    margin: 0px auto;
    border:1 px solid black;
    text-align: center
}
.top>nav>ul>li{
    display:inline;
    list-style-type: none;
    
}

.button{
    width:105.6px;
    height:36px;
    margin-top:60%;
  background :linear-gradient(#8c8c8c,#6a6a6a);
  color: #f4f4f4;
  border-right:1px solid #555555;
  padding-top:10px;
  padding-bottom:10px;
  font-size:12px;
  font-family: 'Lucida Grande', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.fa-apple:before {
    content: "\f179";
    font-size: 18px;
    
}